:root {
    --padding-default: 2rem;
    --section-content-min-height: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-size: 16px;
}

header {
    background-color: #ADD8E6;
}

header ul li {
    list-style: none;
    display: inline;
}

.mustard-bg {
    background-color: #DAA520;;
}

.dark-blue-bg {
    background-color: #00008B;
}

.pink-bg {
    background-color: #EE82EE;
}

.blue-bg {
    background-color: #1E90FF;
}

.salmon-bg {
    background-color: #FFC0CB;
}

.grey-bg {
    background-color: #D3D3D3;
}

.green-bg {
    background-color: #228B22;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: var(--padding-default) 0;
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

.flex-box > * {
    border : 2px dashed black;
    flex-grow: 1;
}

header .container {
    padding: calc(var(--padding-default) / 4) 0;
}

header .container .flex-box > * {
    padding: calc(var(--padding-default) / 4);
}

.flex-box .navbar {
    text-align: center;
    flex-grow: 3;
}

.flex-box .login-button {
    text-align: right;
}

.jumbotron-section .container{
    padding: var(--padding-default) calc(var(--padding-default) * 4);
}

.jumbotron-content {
    min-height: var(--section-content-min-height);
    border : 2px dashed black;
}

main .flex-box > * {
    min-height: var(--section-content-min-height);
}

.grow {
    flex-grow: 1.5;
}

.row-reverse {
    flex-direction: row-reverse;
}

.section-4 .container .flex-box > * {
    min-height: calc(var(--section-content-min-height) * 2);
}